<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PhanLoaiVanBan.DataAccess.Properties.Settings.PhanLoaiVanBanConnectionString" connectionString="Data Source=CUONGLHLAPTOP;Initial Catalog=PhanLoaiVanBan;Persist Security Info=True;User ID=sa;Password=123456" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
